<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geocoins</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>

  <!--NAV_MENU-->

  <main class="container">
    <header class="page-header">
      <h1>Geocoins</h1>
    </header>

    <!-- Filter Bar -->
    <div>
      <img src="/webp-images/geocoins/geocoin-treasure-chest.webp" />
    </div>

	<div>
		<a href="http://s01.flagcounter.com/more/lQfm">
			<img src="http://s01.flagcounter.com/count/lQfm/bg=FFFFFF/txt=000000/border=CCCCCC/columns=8/maxflags=20/viewers=0/labels=1/pageviews=1/" alt="free counters" border="0">
		</a>
	</div>


  </main>

  <script type="module" src="./scripts/geocachesFound-controls.js"></script>
</body>
</html>