<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Places been</title>
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/places-been.css">
</head>
<body>
  <header>
    <!-- Navigation Menu Placeholder -->
    <!--NAV_MENU-->
  </header>
  <main>
    <h1>Places been</h1>

    <div class="filter-controls">
      <!-- <button class="btn" onclick="sortBy('date-desc')">Newest First</button>
      <button class="btn" onclick="sortBy('alphabetical')">Alphabetical (A-Z)</button>
      <button class="btn btn-challenge" onclick="scrollToAlphabet()">Alphabet Challenge</button> -->
    </div>

    <div class="filter-matrix-wrapper">
      <div class="filter-header">
        <span>Filter by Type &amp; Starting Letter</span>
        <div class="filter-controls">
          <button id="sort-date-btn" class="btn-sort active">Order by Date</button>
          <button id="sort-name-btn" class="btn-sort">Order by Name</button>
          <button id="reset-filter-btn" class="btn-reset">Reset Filter</button>
        </div>
      </div>
      
      <!-- JavaScript populates grid buttons inside here -->
      <div id="filter-matrix" class="filter-matrix"></div>
    </div>

    <div class="visited-grid">
{{ content }}
    </div>

    <script type="module" src="./scripts/places-been-controls.js"></script>
  </main>
</body>
</html>