      <div class="parkrun-card {{ country_class }}" data-name="{{ Name }}" data-date="{{ Date }}" data-pr-id="{{ MyPrId }}">
        <div>
          <h3>{{ Name }}</h3>
          <div class="details">
            <p class="card-image-container">
              <img src="./images/parkruns/{{ PhotoUrl }}" class="parkrun-thumb" alt="Parkrun {{ MyPrId }}" />
            </p>
            <p><strong>Pr #:</strong> {{ MyPrId }}</p>
            <p><strong>📅:</strong> {{ Date }}</p>
            <p>🏅 {{ MyUniquePrId }} | 🏃 {{ MyPrId }}</p>
          </div>
        </div>
      </div>
