      <div class="parkrun-card {{ country_class }}" data-name="{{ Name }}" data-date="{{ Date }}" data-pr-id="{{ MyPrId }}">
        <div>
          
          <h3 class="card-title-full">{{ Name }}</h3>

          <div class="details">
            <p class="card-image-container">
              <img src="./webp-images/parkruns/{{ PhotoUrl }}" class="parkrun-thumb" alt="Parkrun {{ MyPrId }}" />
            </p>
            <div class="card-stats-row">
              <p>📅 {{ Date }}</p>
              <p>🏅 {{ MyUniquePrId }} | 🏃 {{ MyPrId }}</p>
            </div>
            
            {{youtube_button_html}}
          </div>
        </div>
      </div>
