<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>BttA - Other People's Adventures</title>
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/interests.css">
	</head>
	<body>
		<header>
			<!-- Navigation Menu Placeholder -->
			<!--NAV_MENU-->
		</header>

		<main>
			<h1 id="journey">Other People's Adventures</h1>

			<div class="adventures-grid">
				{{ content }}
			</div>

			<script type="module" src="./scripts/interests-other-adventures-controls.js"></script>
		</main>
	</body>
</html>