<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BttA - {{ Title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/photo-album.css">
</head>
<body class="album-index-page">
    <header>
        <!-- Navigation Menu Placeholder -->
        <!--NAV_MENU-->
    </header>

    <header class="site-header">
        <div class="container">
            <h1>{{ Title }}</h1>
        </div>
    </header>

    <main class="container">
        <section class="album-grid-container">
            {{ Content }}
        </section>
    </main>

    <script type="module" src="./scripts/photo-album-controls.js"></script>
</body>
</html>